@import '../mixin/mixin';
@import '../variabl/variabls';

.banner_part {
    .banner_item {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 100%;
        height: 800px;

        .banner_text {
            background: rgba(0, 0, 0, .6);
            margin-top: 240px;
            padding: 60px 30px;

            h1 {
                font-family: 'Roboto Slab', serif;
                font-size: 40px;
                color: #fff;
                line-height: 50px;
                position: relative;
                font-weight: 300;
                padding-bottom: 30px;

                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0px;
                    width: 100px;
                    height: 3px;
                    background: #fff;
                }
            }

            a {
                margin-top: 50px;
                @include button ();
            }
        }
    }

    .prev_arrow {

        position: absolute;
        left: 0px;
        top: 50%;
        margin-left: 25px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding: 5px 36px 0px 73px;
        background: rgba(0, 0, 0, 0.8);
        font-size: 30px;
        color: #fff;
        z-index: 1;
        line-height: 50px;
        text-align: center;

        &:hover {
            background: $hover;
        }


    }

    .next_arrow {


        position: absolute;
        right: 0px;
        top: 50%;
        margin-right: -95px;
        -webkit-transform: translateY(-50%);
        transform: translateX(-50%);
        padding: 4px 69px 0px 36px;
        background: rgba(0, 0, 0, 0.8);
        font-size: 30px;
        color: #fff;
        z-index: 1;
        line-height: 50px;
        text-align: center;


        &:hover {
            background: $hover;
        }


    }
}